<app-todo-form (emitAddTask)="addTask($event)"></app-todo-form>

<div class="input-group ml-auto mb-4" style="max-width: 250px">
  <div class="input-group-prepend">
    <span class="input-group-text">Display:</span>
  </div>
  <select
    [(ngModel)]="filter"
    (ngModelChange)="filterTasks()"
    class="form-control"
    id="exampleFormControlSelect1"
  >
    <option>All</option>
    <option>Only Done</option>
    <option>Only To Do</option>
  </select>
</div>

<hr />

<div *ngIf="filteredTasks.length === 0; then no_task; else tasks_list"></div>

<ng-template #no_task>
  <p>No task to display</p>
</ng-template>

<ng-template #tasks_list>
  <ul *ngFor="let task of filteredTasks">
    <app-task-item
      [task]="task"
      (emitDeleteTask)="deleteTask($event)"
      (emitUpdateTask)="updateTask($event)"
    ></app-task-item>
  </ul>
</ng-template>
